# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Preprocessed data
preprocessed_pubmedqa/
preprocessed_pubmedqa_json/
preprocessed_pubmedqa_readable/

results/
results_v2/
logs/
logs_v2/
pubmedbert-pubmedqa-finetuned/
pubmedbert-pubmedqa-finetuned-v2/
vanilla-bert-pubmedqa-finetuned/

exploring_data.py
train_v2.py

.cache/
*.bin
*.safetensors
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
